# =========================
# NetCDF / HDF
# =========================
*.nc
*.nc4
*.h5
*.hdf5

# =========================
# Data
# =========================
*.csv
*.xlsx
*.xls
*.out
*.docx
*.zip
*.txt
# =========================
# Figures
# =========================
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.pdf

# =========================
# Word / Office temporary files
# =========================
~$*
*.tmp

# =========================
# Python
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Model outputs
# =========================
output/
results/
transient/
history/
